<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cfreesespuffs.github.giftswapper">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:logo="@mipmap/ic_launcher_round"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Giftswapper">

        <activity android:name=".Activities.EndedParties"
            android:theme="@style/Theme.AllNoActionBarNone"
            android:label="Attended Parties"/>
<!-- https://stackoverflow.com/questions/9111813/how-to-move-the-layout-up-when-the-soft-keyboard-is-shown-android to move layout for keyboard reveal/hide -->
<!-- https://romannurik.github.io/AndroidAssetStudio/ for the icon batch rendering.  https://stackoverflow.com/questions/37085753/android-studio-image-asset-launcher-icon-background-color/37085828#37085828 -->

        <activity android:name=".InvitationList"
            android:label="Invitations" /> <!-- <activity android:name=".PendingPartyFragment" /> -->

        <activity android:name=".Activities.SignupConfirmation" />

        <activity android:name=".Activities.SignUp"
            android:windowSoftInputMode="stateVisible"/>

        <activity
            android:name=".Activities.Login"
            android:logo="@mipmap/ic_launcher_round"
            android:windowSoftInputMode="stateVisible" />

        <activity
            android:name=".PostParty"
            android:theme="@style/Theme.AllNoActionBarNone" />

        <activity
            android:name=".Activities.CurrentParty"
            android:theme="@style/Theme.Giftswapper.NoActionBar" /> <!-- /> -->

        <activity
            android:name=".PendingPage"
            android:theme="@style/Theme.AllNoActionBarNone" />

        <activity android:name=".Activities.InvitationDetails" />

        <activity android:name=".Activities.HostParty"
            android:label="Host a Party"/> <!-- https://stackoverflow.com/questions/14483393/how-do-i-change-the-android-actionbar-title-and-icon -->

        <activity android:name=".Activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>